@import "tailwindcss";

@config "../tailwind.config.js";

@media print {
  @page {
    size: auto;
    margin: 20mm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Ensure background colors are printed */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
